.main-navbar {
    padding: 20px 0;
    overflow: hidden;
    position: relative;
    
    height: 200px;
    
}
.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px 0 5px 0;
}

.main-navbar .logo {
    position: relative;
    height: 100px;
    
    
}

.main-navbar .logo .logo-img{
    
    height: 100%;
    border-top-left-radius: 50px ;
    border-bottom-right-radius: 30px ;
}


.main-navbar .ul-list {
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 25px;
    
}

.main-navbar .ul-list .list-item {
    border-right: 1px solid black;
    display: inline-block;
    width: 160px;
    text-align: center;
    
}
.main-navbar .list-item:nth-child(6) {
    border:none;
    
}

.main-navbar .ul-list .list-item a {
    color: #b89461; 
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}

.main-navbar .ul-list .list-item a:hover {
    color: black
}
