.navbar>.container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
}
.navbar{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}
.navbar-brand{
    position: relative;
  
}
.main-navbar .logo {
    position: relative;
    height: 100px;
    
}

.main-navbar .logo .logo-img {
    
    height: 100%;
    border-top-left-radius: 50px ;
    border-bottom-right-radius: 30px ;
}
.ul-list {
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 25px;
    
}
.list-item {
    border-right: 1px solid black;
    display: inline-block;
    width: 140px;
    text-align: center;
    color: #b89461; 
    font-weight: bold;
}
.list-item:nth-child(6) {
    border:none;
    
}
